.job-details-route-bg-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000000;
  color: #dfdfdf;
  min-height: 100vh;
}

.job-item-details-container {
  margin-right: 5%;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
  width: 90%;
}
.job-item-details-container:hover {
  box-shadow: none;
}

.job-item-description-heading-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.visit-link {
  text-decoration: none;
  cursor: pointer;
  margin-right: 8px;
}

.visit-link-text {
  font-size: 18px;
  font-weight: 500;
  color: #6366f1;
}

.skills-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.skill-item-container {
  display: flex;
  list-style-type: none;
  min-width: 150px;
  height: 80px;

  margin: 24px;
  align-items: center;
  justify-content: space-around;
  padding-left: 0px;
}
.skill-image {
  width: 70px;
  height: 70px;
  margin-right: 12px;
}
.skill-name {
  font-size: 18px;
}

.life-at-company-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .life-at-company-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.life-at-company-left-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .life-at-company-left-section-container {
    width: 56%;
    padding-right: 2%;
  }
}
.life-at-company-description {
  font-size: 18px;
  color: #f2f2f2;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 3px;
  padding-top: 0px;
}
.life-at-company-image-container {
  width: 100%;
  display: flex;
}
@media screen and (min-width: 768px) {
  .life-at-company-image-container {
    width: 45%;
    margin-top: 2%;
  }
}
.life-at-company-image {
  width: 100%;
  height: 300px;
}

/* similar jobs section */

.similar-jobs-bg-container {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 0px;
  margin-bottom: 3%;
}
.similar-jobs-heading {
  font-size: 26px;
  font-weight: 500;
}
.similar-jobs-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .similar-jobs-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 360px;
    overflow-y: auto;
    padding-bottom: 10px;
  }
}
.route-link-item {
  display: flex;
  flex-direction: column;
  width: 95%;
  text-decoration: none;
}
.route-link-item > * {
  padding: 3px;
  margin: 3px;
}

@media screen and (min-width: 768px) {
  .route-link-item {
    width: 30%;
  }
}
